{% macro list_piece(piece, client) %}
    <div class="row row-line">
       
        <div style="display:none">{{ form_row(piece.origine) }} {{ form_widget(piece.client) }}</div>
        {% set is_deletable = piece.vars.value and not piece.vars.value.client %}
        {% set lib_attrs = {} %}
        {% set file_attrs = {} %}
        {% set has_file  = piece.vars.value and piece.vars.value.fichier %}
        {% if not is_deletable %}
            {% set lib_attrs = lib_attrs|merge({attr: {readonly: 'readonly'}}) %}
        {% endif %}
        {% if has_file %}
            {% set file_attrs = file_attrs|merge({'data-file': piece.vars.value.fichier.alt}) %}
        {% endif %}
        <div class="col-md-4">{{ form_row(piece.libDocument, lib_attrs) }}</div>
        <div class="col-md-4">{{ form_row(piece.fichier, file_attrs) }}</div>
        <div class="col-md-2">{{ form_row(piece.dateTransmission) }}</div>
       
        <div class="col-md-1 ">
        {# {{ dump(piece.fichier)}} #}
             {% if piece.vars.value %}
           {# <a class="btn btn-dark btn-sm" target="_blank" href="{{ path('fichier_index', {id:  piece.vars.value.fichier.id}) }}" download> <i class="bi bi-upload"></i>
                </a> #}
                <a class="btn btn-dark btn-sm" target="_blank" href="{{ asset('uploads/media_entreprise/' ~ piece.vars.value.fichier.alt) }} " download> <i class="bi bi-upload"></i>
                </a>
            {% endif %}
        </div>
        <div class="col-md-1 del-col {% if not is_deletable %}no-action{% endif %}">

        </div>
    </div>
{% endmacro %}


{% macro redaction(redaction) %}
    <div class="row row-line">
        <div class="col-md-1">{{ form_row(redaction.numVersion) }}</div>
        <div class="col-md-3">{{ form_row(redaction.date) }}</div>
        {% set file_attrs = {} %}
        {% set has_file  = redaction.vars.value and redaction.vars.value.fichier %}
        {% if has_file %}
            {% set file_attrs = file_attrs|merge({'data-file': redaction.vars.value.fichier.alt}) %}
        {% endif %}
        <div class="col-md-6">{{ form_row(redaction.fichier, file_attrs) }}</div>
        
        <div class="col-md-1">
            {% if has_file %}
             {# <a class="btn btn-dark btn-sm" target="_blank" href="{{ path('fichier_index', {id:  redaction.vars.value.fichier.id}) }}" download> <i class="bi bi-upload"></i>
                </a> #}
                <a class="btn btn-dark btn-sm" target="_blank" href="{{ asset('uploads/media_entreprise/' ~ redaction.vars.value.fichier.alt) }} " download> <i class="bi bi-upload"></i>
                </a>
                  {% endif %}
        </div>
      
        <div class="col-md-1 del-col">

        </div>
    </div>
{% endmacro %}


{% macro identification(identification) %}
    <div class="row">
        <div class="col-md-6 ">
            <label class="sr-onl">Acheteur</label>
            {{ form_row(identification.acheteur,{'attr':{'class':'form-select form-control acheteur','placeholder':'Acheteur'}}) }}
        </div>
        <div class="col-md-6">
            <label class="sr-onl">Vendeur</label>
            {{ form_row(identification.vendeur,{'attr':{'class':'form-select form-control vendeur','placeholder':'Vendeur'}}) }}
        </div>

    </div>
{% endmacro identification %}


{% macro document_signe(document) %}
<tr class=" row-container even pointer table-light">
    <td class="p-2">
        <div class="">{{ form_row(document.client,{'attr':{'readOnly':'readOnly'}}) }}</div>
       
    </td>
    <td class="p-2">
        <div class="">{{ form_row(document.dateSignature) }}</div>
       
    </td>
    {# <td class="p-2">
       
       
    </td> #}
</tr>

  
{% endmacro %}

{% macro document_signe_fichier(document) %}
    <div class="row row-container">

        <div class="col-md-4">{{ form_row(document.fichier) }}</div>
        <div class="col-md-2">{% if document.children.fichier.vars.data %}
              
            
                 <a class="btn btn-dark btn-sm" style="margin-top: 20px;" target="_blank" href="{{ asset('uploads/media_entreprise/' ~ document.vars.value.fichier.alt) }} " download> <i class="bi bi-upload"></i>
                </a>
             {% endif %}</div>
        
    </div>
{% endmacro %}



{% macro enregistrement(enregistrement) %}
    {% set value = enregistrement.vars.value %}
    <div class="row row-container">
        <div class="col-md-1">{% if value and value.sens %} {{ constant('App\\Entity\\Enregistrement::SENS')[value.sens] }} {% endif %}</div>
        <div style="display:none">{{ form_row(enregistrement.sens) }}</div>
        <div class="col-md-2">{{ form_row(enregistrement.numero) }}</div>
        <div class="col-md-3">{{ form_row(enregistrement.date) }}</div>
        <div class="col-md-4">{{ form_row(enregistrement.fichier) }}</div>
        
        <div class="col-md-1 ">
            {% if value and  value.fichier %}
             {#  <a class="btn btn-dark btn-sm" target="_blank" href="{{ path('fichier_index', {id:  enregistrement.vars.value.fichier.id}) }}" download> <i class="bi bi-upload"></i>
                </a> #}
                 <a class="btn btn-dark btn-sm" target="_blank" href="{{ asset('uploads/media_entreprise/' ~ enregistrement.vars.value.fichier.alt) }} " download> <i class="bi bi-upload"></i>
                </a>
            {% endif %}
        </div>
        <div class="col-md-1 del-col d-none">

        </div>
    </div>
{% endmacro %}
{% macro frais(frais) %}
    {% set value = frais.vars.value %}
    
    <div class="row row-container">
        {# <div class="col-md-1">{% if frais.vars.id == "dossier_paiementFrais_0" %}
            {{ constant('App\\Entity\\PaiementFrais::Sens')[1] }} 
        {% else %}
            {{ constant('App\\Entity\\PaiementFrais::Sens')[2] }} 
        {% endif %} </div> #}
        <div class="col-md-2" style="display:">{{ form_row(frais.client,{'attr':{'readOnly':'readOnly'}}) }}</div>
        <div class="col-md-2">{{ form_row(frais.date) }}</div>
        <div class="col-md-2">{{ form_row(frais.montant) }}</div>
        <div class="col-md-3">{{ form_row(frais.path) }}</div>
        
        {# <div class="col-md-1 ">
            {% if value and  value.path %}
               {# <a class="btn btn-dark btn-sm" target="_blank" href="{{ path('fichier_index', {id:  frais.vars.value.path.id}) }}" download> <i class="bi bi-upload"></i>
                </a> 
                 <a class="btn btn-dark btn-sm" target="_blank" href="{{ asset('uploads/media_entreprise/' ~ frais.vars.value.path.alt) }} " download> <i class="bi bi-upload"></i>
                </a>
            {% endif %}
        </div> #}
        <div class="col-md-1 del-col d-none">

        </div>
    </div>
{% endmacro %}



{% macro obtention(obtention) %}
        
     <div class="row row-line">
        <div class="col-md-3">{{ form_row(obtention.document) }}</div>
        {% set file_attrs = {} %}
        {% set has_file  = obtention.vars.value and obtention.vars.value.fichier %}
        {% if has_file %}
            {% set file_attrs = file_attrs|merge({'data-file': obtention.vars.value.fichier.alt}) %}
        {% endif %}
        <div class="col-md-4">{{ form_row(obtention.fichier, file_attrs) }}</div>
        <div class="col-md-3">{{ form_row(obtention.date) }}</div>
        
        <div class="col-md-1">
            {% if has_file %}
             {# <a class="btn btn-dark btn-sm" target="_blank" href="{{ path('fichier_index', {id:  redaction.vars.value.fichier.id}) }}" download> <i class="bi bi-upload"></i>
                </a> #}
                <a class="btn btn-dark btn-sm" target="_blank" href="{{ asset('uploads/media_entreprise/' ~ obtention.vars.value.fichier.alt) }} " download> <i class="bi bi-upload"></i>
                </a>
                  {% endif %}
        </div>
      
        <div class="col-md-1 del-col">

        </div>
    </div>
{% endmacro %}


{% macro remise(remise) %}
    <div class="row">
        <div class="col-md-3">{{ form_row(remise.date) }}</div>
        {% set file_attrs = {} %}
        {% set has_file  = remise.vars.value and remise.vars.value.fichier %}
        {% if has_file %}
            {% set file_attrs = file_attrs|merge({'data-file': remise.vars.value.fichier.alt}) %}
        {% endif %}
        <div class="col-md-7">{{ form_row(remise.fichier, file_attrs) }}</div>
        {% if has_file %}
        <div class="col-md-1">
          
              
          {#   <a class="btn btn-dark btn-sm" target="_blank" href="{{ path('fichier_index', {id:  remise.vars.value.fichier.id}) }}" download> <i class="bi bi-upload"></i>
                </a> #}
                 <a class="btn btn-dark btn-sm" target="_blank" href="{{ asset('uploads/media_entreprise/' ~ remise.vars.value.fichier.alt) }} " download> <i class="bi bi-upload"></i>
                </a>
            
        </div>
        {% endif %}
    </div>
{% endmacro %}


{% macro remise_acte(remiseActe) %}
    <div class="row">
        <div class="col-md-3">{{ form_row(remiseActe.date) }}</div>
        {% set file_attrs = {} %}
        {% set has_file  = remiseActe.vars.value and remiseActe.vars.value.fichier %}
        {% if has_file %}
            {% set file_attrs = file_attrs|merge({'data-file': remiseActe.vars.value.fichier.alt}) %}
        {% endif %}
        <div class="col-md-7">{{ form_row(remiseActe.fichier, file_attrs) }}</div>
        {% if has_file %}
        <div class="col-md-1">
            {#  <a class="btn btn-dark btn-sm" target="_blank" href="{{ path('fichier_index', {id:  remiseActe.vars.value.fichier.id}) }}" download> <i class="bi bi-upload"></i>
                </a> #}
                 <a class="btn btn-dark btn-sm" target="_blank" href="{{ asset('uploads/media_entreprise/' ~ remiseActe.vars.value.fichier.alt) }} " download> <i class="bi bi-upload"></i>
                </a>
            
        </div>
        {% endif %}
        <div class="col-md-12">{{ form_row(remiseActe.commentaire) }}</div>
       
    </div>
{% endmacro %}