<!DOCTYPE html>
<html>
  <head>
    <title>Liste des</title>
    <style>
      {% block page_css %}
        @page {

          margin-footer: 0.5cm;

          /*header: html_headerContent;*/
          footer: html_pageFooter;
          margin-top: 0.5cm;
          margin-header: 0cm;
         
          /*background: ...
  background-image: ...
  background-position ...
  background-repeat ...
  background-color ...
  background-gradient: ...*/
        }
        .clearfix:after,
        {% endblock %} .clearfix:before {
          content: " ";
          display: table;
        }

        .clearfix:after {
          clear: both;
        }

        .mention {
  position: absolute;
  bottom: 100px;
}

        /*@page :first {
   header: html_headerContent;
}*/
caption{
  margin-bottom: 15px;
}
      fieldset 
	{
		border: 1px solid #000 !important;
		margin: 0;
		xmin-width: 0;
		padding: 10px;       
		position: relative;
		border-radius:4px;
		background-color:#fff;
		padding-left:10px!important;
	}	
	
		legend
		{
       padding: 0 10px; 
      margin-left: 100px;
			font-size:14px;
			font-weight:bold;
			margin-bottom: 0px; 
			width: 35%; 
			border: 1px solid #ddd;
			border-radius: 4px; 
			background-color: #ffffff;
		}

        table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  
}
        @media all {
          /*.content { display: block; page-break-inside: avoid; }*/
        }

        .content {
          /*margin-top: 18cm;*/
        }

        {# .table-responsive.table-bordered {
          border: 0;
        } #}

        .double_underline {
            text-decoration:underline;
            border-bottom: 1px solid #000;
            text-align: center;
        }
    </style>
  </head>
  <body style="font-size:12px;">
      <div class="clearfix">
     <div style="width:10%;text-align:left;float:left;"  class="">
     {% set var = "uploads/logo/" ~ 'logo2.png' %}
        <img src="{{ var |replace({'/': "\\"}) }}" width="100px" />
        {# <img src="{{ absolute_url(asset(var)) }}" width="100px" /> #}
       {#  <div style="text-align:left;border: 1px solid #000;padding:8px;width:70%"  class="">
              CC N° 9904215 D<br>
              Régime d'imposition: Réel Normal<br>
              Centre des impôts: D G E<br>
        </div>
        {{ "facture.typeFacture.libelle" | upper }} N° {{ 'facture.numero' }} #}
      </div>
     
       <div style="width:65%;text-align:right;float:center;">
            <div style="text-align:center;"  class="">
                    <b>NOTARI</b><br>
                  22 BP 1484 Abidjan 2 - Tél : 27 22 49 60 49 - notari@yahoo.com <br>
                  Abidjan-angre
               <div style="border-top:1px solid #000"></div>
              </div>
           
        </div>
       <div style="width:25%;text-align:right;float:right;margin-top:0px,padding:8px">

           <div style="text-align:center;margin-top:-45px"  class="">
                    République de COTE D'IVOIRE <br>
                
               <b style="font-weight: bolder;">Année : 2024</b>
              </div>
          
        </div>
    </div>
  

    <br>


   
<br/>


       <table >
         <caption>
             
               <b>{{'Liste des actes à la conservation'| upper }}</b><br>
              </caption> 
      <thead>
        <tr>
          <th style="vertical-align:middle;width:5%">N°</th>
          <th style="vertical-align:middle;width:30%">Libelle acte</th>
          <th style="vertical-align:middle;">Date acte</th>
          <th style="vertical-align:middle;">Date dépot</th>
          <th style="vertical-align:middle;width:10%">Nombre jours</th>
          <th style="vertical-align:middle;width:20%">Vendeur</th>
          <th style="vertical-align:middle;width:20%">Acheteur</th>
  
          {# <th style="vertical-align:middle;">TAUX DE PAIEMNET</th> #}
       
        </tr>
      </thead>
      <tbody>
      {% set jour = 0 %}
         {% if data|length > 0 %}
       {% for key,ligne in data %}

        {% set difference = date( "now" | date()).diff(date(ligne.date| date())) %}
        {% set leftDays = difference.days %}

        
   
          <tr style="">
            <td style="vertical-align:middle;text-align:center;">{{key+1}}</td>
            <td style="vertical-align:middle;text-align:center;" >{{ ligne.dossier.objet }}</td>
            <td style="vertical-align:middle;text-align:center;" >{{ ligne.dossier.dateCreation | date("m/d/Y")}}</td>
            <td style="vertical-align:middle;text-align:center;" >{{ ligne.date | date("m/d/Y") }}</td>
            <td style="vertical-align:middle;text-align:center;" >{{ leftDays +1 }}</td>
            <td style="vertical-align:middle;text-align:center;" >{{ menu.getIdentification(ligne.dossier.id)[0].vendeur.getNomPrenoms }}</td>
            <td style="vertical-align:middle;text-align:center;" >{{ menu.getIdentification(ligne.dossier.id)[0].acheteur.getNomPrenoms }}</td>
            {# <td style="vertical-align:middle;text-align:center;">{{ ligne.dateDebut   }}</td> #}
       
            {# <td style="vertical-align:middle;text-align:center;" ><span style="font-size:15px;color:#FF2E2E">{% if ligne.etat == "valide" %} {{ligne.montant_preinscription  |number_format(0, '.', '.') }} {% else %} {{ '0'|number_format(0, '.', '.') }} {% endif %}</span ></td> #}
           
           
          </tr>
         {% endfor %}   
                  {% else %}
                      <tr>
                    <td colspan="7" style="text-align: center;">{{ "IL N' Y A AUCUNE DONNÉES EN BASE"|upper }}</td>
                  
            
                  </tr>
                  {% endif %}
        
    </table>
    
     
    </div>
    
    <br> 
  <div  style="border-bottom:3px solid #000">
  </div>  
    <htmlpagefooter name="pageFooter">
       {#  <table style="width:100%">
          <tr>
            <td style="width:50%;text-align:left;padding-bottom:8px">
              <i><b>Client</b></i>
            </td>
            <td style="width:50%;text-align:right">
              <i><b>Souche</b></i>
            </td>
          </tr>
        </table> #}
        <div style="border-top:2px solid #000"></div>
       <p  align="center" style="align: center;margin-top:-1px">
        ANGRE COCODY - 01 BP 5889 Abidjan 01 - e-mail: 
        <a href="mailto:info@kuyopipeline.com">info@suzang.com</a><br>
        Tél: +225 21 27 53 50 FAX.: +225 21 27 53 29 - Fax: (225) 21 27 53 29 - RC: 236319
       </p>
    </htmlpagefooter>
  </body>
</html>