{% block page_content %}
    {% form_theme form 'widget/fields-block.html.twig' %}
    {{ form_start(form, {'attr': {'role':'form', 'class': 'form'}}) }}
         {% from '_macros/client.html.twig' import prototype_ligne_document_client %} 

    <div class="p-0">
        {{ include('_includes/ajax/response.html.twig') }}

         {#DEbut physique#}

         {% if code == "P" %}
          <div class="physique">
                <div class="row p-0">
                      <div class="col-md-10 p-0">
                            <div class="row" style="margin-left: 0px;">
                                <div class="col-md-12">{{ form_row(form.nom) }}</div>
                            </div>
                            <div class="row" style="margin-left:0px;">
                                <div class="col-md-12">{{ form_row(form.prenom) }}</div>
                            </div>
                        </div>
                        <div class="col-md-2 pr-3 text-end">
                            {% include '_includes/photo.html.twig'  with {'photo':form.photo,'data':null} %}
                        </div>
                      

                    </div>

              
                <div class="row">
                    <div class="col-md-4 ">
                        {{ form_row(form.dateNaissance)}}
                    </div>
                    <div class="col-md-4 ">
                        {{ form_row(form.lieuNaissance)}}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.profession)}}
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        {{ form_row(form.domicile) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.pere) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.mere) }}
                    </div>
                </div>
                <div class="row">
                
                    <div class="col-md-6">
                        {{ form_row(form.adresse) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.telDomicile) }}
                    </div>

                </div>

                <div class="row moral_sub">

                    <div class="col-md-6">
                        {{ form_row(form.telBureau) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.telPortable) }}
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4">
                        {{ form_row(form.email) }}
                    </div>

                    <div class="col-md-4">
                        {{ form_row(form.nationalite) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.situation) }}
                    </div>
                </div>
                <div class="">
                    <div class="row situation" >

                        <div class="col-md-6">
                            {{ form_row(form.nomConjoint) }}
                        </div>

                        <div class="col-md-6">
                        {{ form_row(form.prenomConjoint) }}
                        </div>
                    </div>
                    <div class="row situation">

                        <div class="col-md-6">
                            {{ form_row(form.dateNaissanceConjoint) }}

                        </div>

                        <div class="col-md-6">
                            {{ form_row(form.lieuNaissanceConjoint) }}
                        </div>
                    </div>
                    <div class="row situation">

                        <div class="col-md-4">
                            {{ form_row(form.professionConjoint) }}
                        </div>

                        <div class="col-md-4">
                            {{ form_row(form.pereConjoint) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.mereConjoint) }}
                        </div>
                    </div>
                    <div class="row situation">

                        <div class="col-md-4">
                            
                            {{ form_row(form.adresseConjoint) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>

                        <div class="col-md-4">
                            
                            {{ form_row(form.telConjoint) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>
                        <div class="col-md-4">
                            
                            {{ form_row(form.portableConjoint) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>
                    </div>
                    <div class="row situation">

                        <div class="col-md-4">
                            
                            {{ form_row(form.emailConjoint) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>

                        <div class="col-md-4">
                            
                            {{ form_row(form.nationaliteConjoint) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>
                        <div class="col-md-4">
                            
                            {{ form_row(form.regimeMatrimonialConjoint) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>
                    </div>
                    <div class="row situation">

                        <div class="col-md-6">
                            
                            {{ form_row(form.dateMariage) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>

                        <div class="col-md-6">
                            
                            {{ form_row(form.lieuMariageConjoint) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>
                    </div>
                    <div class="row situation ">

                        <div class="form-group col-md-6">
                            
                            {{ form_row(form.contratMariageConjoint) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>

                        <div class="col-md-6 affirmatif">
                            
                            {{ form_row(form.affirmatif) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>
                    </div>

                    <div class="row precedent-mariage">

                        <div class="col-md-6">
                            
                            {{ form_row(form.precedentMariage) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>
                        <div class="col-md-6etat">
                            
                            {{ form_row(form.etat) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>
                    </div>

                    <div class="row precedent-mariage-oblige">
                        <div class="col-md-4 nomPrenomEpoux">
                            
                            {{ form_row(form.nomPrenomEpoux) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>
                        <div class="col-md-4 datePrecedent">
                            
                            {{ form_row(form.datePrecedent) }}

                        </div>
                        <div class="col-md-4 regime">
                            
                            {{ form_row(form.regime) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>
                    </div>

                    <div class="row divorce situation">

                        <div class="col-md-4">
                            
                            {{ form_row(form.numeroJugement) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>

                        <div class="col-md-4">
                            
                            {{ form_row(form.dateJugement) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>
                        <div class="col-md-4">
                            
                            {{ form_row(form.jugementRendu) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>

                    </div>
                    <div class="row deces situation">

                        <div class="col-md-6">
                            
                            {{ form_row(form.dateDeces) }}
                            {# <input type="text" id="userinput1" class="fodateDecesrm-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>

                        <div class="col-md-6">
                            
                            {{ form_row(form.lieuDeces) }}
                            {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                        </div>

                    </div>
                </div>
            </div>
         {% else %}
<div class="moral">
                <div class="row">
                    <div class="col-md-6">
                        
                        {{ form_row(form.raisonSocial) }}
                        {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                    </div>
                    <div class="col-md-6">
                        
                        {{ form_row(form.registreCommercial) }}
                        {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        
                        {{ form_row(form.boitePostal) }}
                        {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                    </div>
                    <div class="col-md-4">
                        
                        {{ form_row(form.siteWeb) }}
                        {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                    </div>
                    <div class="col-md-4">
                        
                        {{ form_row(form.emailEntreprise) }}
                        {# <input type="text" id="userinput1" class="form-control border-primary" placeholder="Compte contribuable" name="name">#}
                    </div>

                </div>
                <div class="row">
                    <div class="fcol-md-12">
                        {{ form_row(form.local) }}
                    </div>
                </div>
                
            </div>

         {% endif %}

    <br>
          {{ prototype_ligne_document_client(form) }}
          <br>
   <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 text-end">
            <button type="button" class="btn btn-default btn-sm" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-main btn-ajax btn-sm"><span class="spinner-border d-none  spinner-ajax spinner-border-sm" role="status" aria-hidden="true"></span> Valider saisie</button>
    
        </div>
    </div>

    </div>
   

      {{ form_widget(form._token) }}
    {{ form_end(form, {render_rest: false}) }}
{% endblock %}

{% block java %}

    <script>

    $(function ()
          {
               
                init_select2('select');
            KTImageInput.createInstances();
            var imageInputElement = document.querySelector("#kt_image_input_control");
            var imageInput = KTImageInput.getInstance(imageInputElement);
        });
        $(function () {
                init_select2('select', null, '.content-doc');
        });

        function enMajuscule(str)
        {
           return str.split(/\s+/).map(s => s.charAt(0).toUpperCase() + s.substring(1).toLowerCase()).join(" ");
        }

          $("#exampleModalSizeSm2").find('#client_prenom').on('keyup', function(event) {
         
            var $prenom = $(this);
            $prenom.val(enMajuscule($prenom.val()));
        });

       

        $(function () {
            init_select2('select',null,'#exampleModalSizeSm2');
           
        });

         $("#exampleModalSizeSm2").find("#client_precedentMariage").on('change',function (e) {
                   var precedent = $(this).val();
             
                if (precedent === "NON"){

                    $("#exampleModalSizeSm2").find('.precedent-mariage-oblige').hide();
                $("#exampleModalSizeSm2").find('.deces').hide();
                $("#exampleModalSizeSm2").find('.divorce').hide();
                $("#exampleModalSizeSm2").find('.etat').hide();
                   }else {
                    $('.precedent-mariage-oblige').show();
                $("#exampleModalSizeSm2").find('.etat').show();

                $("#exampleModalSizeSm2").find('.divorce').show();
                       /*$('.datePrecedent').show();
                       $('.regime').show();*/
                   }
               })

                 $("#exampleModalSizeSm2").find("#client_etat").on('change',function (e) {
                   var precedent = $(this).val();
              
                if (precedent === "DIVORCE"){


                    $("#exampleModalSizeSm2").find('.deces').hide();
                $("#exampleModalSizeSm2").find('.divorce').show();

                   }else {

                    $("#exampleModalSizeSm2").find('.deces').show();
                $("#exampleModalSizeSm2").find('.divorce').hide();

                       /*$('.datePrecedent').show();
                       $('.regime').show();*/
                   }
               })

               $("#exampleModalSizeSm2").find("#client_contratMariageConjoint").on('change',function (e) {
                   var precedent = $(this).val();
               
                if (precedent === "NON"){

                    $("#exampleModalSizeSm2").find('.affirmatif').hide();

                   }else {
                    $("#exampleModalSizeSm2").find('.affirmatif').show();

                   }
               })
                $("#exampleModalSizeSm2").find('#client_situation').on('change',function (e) {
                   var value = $(this).val();
             


                if (value !== "CELIBATAIRE"){
                       //  $('.precedent-mariage').hide()

                       if (value === "VEUF"){
                    $("#exampleModalSizeSm2").find('.deces').show();

                       }else{
                    $("#exampleModalSizeSm2").find('.deces').hide();
                       }

                if (value === "DIVORCE"){
                    $("#exampleModalSizeSm2").find('.divorce').show();

                       }else{
                    $("#exampleModalSizeSm2").find('.divorce').hide();
                       }

                $("#exampleModalSizeSm2").find('.situation').show();
                   }else{
                    $("#exampleModalSizeSm2").find("#client_precedentMariage").show()
                       $("#exampleModalSizeSm2").find('.situation').hide();
                   }
               });

                const value = $("#exampleModalSizeSm2").find('#clien_situation').val();
                const precedent = $("#exampleModalSizeSm2").find('#client_precedentMariage').val();
                $("#exampleModalSizeSm2").find('.etat').hide();
                $("#exampleModalSizeSm2").find('.precedent-mariage-oblige').hide();
              
                if (precedent === "NON"){

                    $("#exampleModalSizeSm2").find('.precedent-mariage-oblige').hide();
                /* $('.deces').hide();
                 $('.divorce').hide();*/
                $("#exampleModalSizeSm2").find('#client_etat').hide();
               }
                if (precedent === "OUI"){
                    $("#exampleModalSizeSm2").find('.precedent-mariage-oblige').show();
                $("#exampleModalSizeSm2").find('.etat').show();


                   /*$('.datePrecedent').show();
                   $('.regime').show();*/
               }
                if (value !== "CELIBATAIRE"){
                   //  $('.precedent-mariage').hide()

                   if (value === "VEUF"){
                    $("#exampleModalSizeSm2").find('.deces').show();

                   }else{
                    $("#exampleModalSizeSm2").find('.deces').hide();
                   }

                if (value === "DIVORCE"){
                    $("#exampleModalSizeSm2").find('.divorce').show();

                   }else{
                    $("#exampleModalSizeSm2").find('.divorce').hide();
                   }

                $("#exampleModalSizeSm2").find('.situation').show();
               }else{
                    $("#exampleModalSizeSm2").find("#client_precedentMariage").show()
                   $("#exampleModalSizeSm2").find('.situation').hide();
               }

                $("#exampleModalSizeSm2").find('.situation').hide();

          

    </script>


{% endblock %}