{% block page_content %}
    <div class="modal-header">
        <h4 class="modal-title">Détails Dossier</h4>
        <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
            <span class="svg-icon svg-icon-2x text-white">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
					<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
				</svg>
            </span>
        </div>
    </div>
   
    <div class="modal-body">
        <table class="table table-bordered">
        <tbody>
                            <tr>
                    <th>Id</th>
                    <td>{{ dossier.id }}</td>
                </tr>
                            <tr>
                    <th>NumeroOuverture</th>
                    <td>{{ dossier.numeroOuverture }}</td>
                </tr>
                            <tr>
                    <th>MontantVendeur</th>
                    <td>{{ dossier.montantVendeur }}</td>
                </tr>
                            <tr>
                    <th>MontantAcheteur</th>
                    <td>{{ dossier.montantAcheteur }}</td>
                </tr>
                            <tr>
                    <th>DateCreation</th>
                    <td>{{ dossier.dateCreation ? dossier.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                            <tr>
                    <th>Active</th>
                    <td>{{ dossier.active ? 'Yes' : 'No' }}</td>
                </tr>
                            <tr>
                    <th>Etat</th>
                    <td>{{ dossier.etat ? dossier.etat|json_encode : '' }}</td>
                </tr>
                            <tr>
                    <th>Objet</th>
                    <td>{{ dossier.objet }}</td>
                </tr>
                            <tr>
                    <th>Etape</th>
                    <td>{{ dossier.etape }}</td>
                </tr>
                            <tr>
                    <th>Description</th>
                    <td>{{ dossier.description }}</td>
                </tr>
                            <tr>
                    <th>MontantTotal</th>
                    <td>{{ dossier.montantTotal }}</td>
                </tr>
                            <tr>
                    <th>NumeroRepertoire</th>
                    <td>{{ dossier.numeroRepertoire }}</td>
                </tr>
                    </tbody>
    </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-bs-dismiss="modal">Fermer</button>
    </div>

{% endblock %}
{% block java %}
    <script>
        
    </script>
{% endblock %}