{% block page_content %}

{% form_theme form 'widget/fields-block.html.twig' %}

{% from '_admin/macros/identification.html.twig' import identification %}
 <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body form-card">
                {{ form_start(form, {'attr': {'role':'form', 'class': 'form', 'id': route_without_prefix}}) }}
                    {{ include('_includes/ajax/response.html.twig') }}
                    <h3 style="color: orangered">Identification des clients</h3>
                    {% for identification in form.identifications %}
                        {{ identification(identification)}}
                    {% endfor %}
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="text-right">
                                {{ form_widget(form.save) }}
                                {% if form.next is defined %}
                                    {{ form_widget(form.next) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            init_select2(null, null, '.form-card');
        });
        
    </script>
{% endblock %}