{% macro frais(frais) %}
{% set value = frais.vars.value %}

<div class="row row-container">
    <div class="col-md-1">{% if frais.vars.id == "dossier_paiementFrais_0" %}
        {# {{ constant('App\\Entity\\PaiementFrais::Sens')[1] }} #}
        {% else %}
        {{ constant('App\\Entity\\PaiementFrais::Sens')[2] }}
        {% endif %} </div>
    <div style="display:none">{{ form_row(frais.sens) }}</div>
    <div class="col-md-2">{{ form_row(frais.date) }}</div>
    <div class="col-md-3">{{ form_row(frais.montant) }}</div>
    {# <div class="col-md-4">{{ form_row(frais.path) }}</div> #}

    {# <div class="col-md-1 ">
        {% if value and value.path %}
        {# <a class="btn btn-dark btn-sm" target="_blank"
            href="{{ path('fichier_index', {id:  frais.vars.value.path.id}) }}" download> <i class="bi bi-upload"></i>
        </a>
        <a class="btn btn-dark btn-sm" target="_blank"
            href="{{ asset('uploads/media_entreprise/' ~ frais.vars.value.path.alt) }} " download> <i
                class="bi bi-upload"></i>
        </a>
        {% endif %}
    </div> #}
    <div class="col-md-1 del-col d-none">

    </div>
</div>
{% endmacro %}