{% macro piece(colonne) %}


<tr class="row-colonne even pointer table-light">
 <td class="p-2">
        <div style="display:no " class="field-matiere">{{ form_widget(colonne.type,{'attr':{'readOnly':'readOnly'}}) }}</div>
       
    </td>
    <td class="p-2">
        <div style="display:non" class="field-matiere">{{ form_widget(colonne.client,{'attr':{'readOnly':'readOnly'}}) }}</div>
       
    </td>
    <td class="p-2">
        <div style="display:no " class="field-matiere">{{ form_widget(colonne.attribut,{'attr':{'readOnly':'readOnly'}}) }}</div>
      
    </td>
    <td class="p-2">
        <div style="display:no " class="field-matiere">{{ form_widget(colonne.path) }}</div>
      
    </td>
    <td class="p-2 del-coldd " > {% if colonne.children.path.vars.data %}
              
            
                 <a class="btn btn-dark btn-sm" style="margin-top: 0px;" target="_blank" href="{{ asset('uploads/media_entreprise/' ~ colonne.vars.value.path.alt) }} " download> <i class="bi bi-upload"></i>
                </a>
             {% endif %}</td>
</tr>

{% endmacro %}

{% macro prototype_piece(form) %}
<div class="list-colonne" data-prototype="{{ _self.piece(form.pieces.vars.prototype)|e }}">
</div>


<table class="table table-bordered table-custom">
    <thead class="thead-dark">

        <tr>
            <th width="20%" class="p-2">Type</th>
            <th width="30%" class="p-2">Client conserné</th>
            <th width="20%" class="p-2">Attribut</th>
            <th width="20%" class="p-2">DOc</th>
    
    
          
    
            <th colspan="2" width="10%">
                {# <button type="button" data-protoname="__name__" class="btn btn-default add_line btn-xs " id="add_ligne"
                    data-protoclass=".list-colonne" data-container=".column-container">
                    <i class="fa fa-plus"></i> Ajouter
                </button> #}
            </th>
        </tr>
    </thead>
  

    
    <tbody class="column-container proto-container" data-childclass="">
            {% for item in form.pieces %}
                {{ _self.piece(item|e) }}
            {% endfor %}
 </tbody>
   
    </table>
{% endmacro %}